language: julia
os:
  - linux
  - osx
notifications:
  email: false
julia:
  - 0.5
  - 0.6
before_install:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
script:
  - julia -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.test("ECharts")'
